@font-face {
    font-family: "OngleleafMyungsook";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafMyungsook/OngleleafMyungsook.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafMyungsook/OngleleafMyungsook.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafMyungsook/OngleleafMyungsook.ttf") format("truetype");
    font-display: swap;
}

.OngleleafMyungsook {
    font-family: "OngleleafMyungsook";
}
